# Dependencies
node_modules/

# Build output
dist/
_site/

# Astro files
.astro/

# Environment variables
.env
*.local

# OS files
.DS_Store
Thumbs.db

# Huidige website tekst
AlleHuidigewebsitetekst.md
